{% extends "account_base.html" %}


{% block breadcrum %}
<div class="breadcrumb-path">Urban Angle > My Account > Change Password</div>
{% endblock breadcrum %}

{% block body %}
<body>
    <div class="change-password-form">
        <h1>Change Password</h1>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="new-password">New Password</label>
                {{ form.new_password }}
                {% for error in form.new_password.errors %}
            <p class="error-message">{{ error }}</p>
        {% endfor %}
            </div>
            
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                {{ form.confirm_password }}
                {% for error in form.confirm_password.errors %}
            <p class="error-message">{{ error }}</p>
        {% endfor %}
            </div>
            
            <button type="submit">Change Password</button>
        </form>
        
    </div>
</body>
{% endblock body %}